<html>

    <head> 
         <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
            <h1 id="title">*The Simple Things</h1>

            <form method="POST" action="/blogs">
                <input type="text" placeholder="Enter Title" name="title" />       
                <input type="text" placeholder="Enter body" name="body" />  
                <input type="text" placeholder="Enter Category" name="category" />  
                <label>Is Published</label> <input type="checkbox" name="is_published" />     
                <button>Add</button>
            </form>

            {{#blogs}}
                <form method = "POST" action = "/delete-blogs">
                    <input type="hidden" value={{BlogsId}} name="BlogsId" />
                        <label>
                            {{title}} <br>
                            {{body}} <br>
                            {{category}} <br>
                            {{is_published}} 
                            <button>delete</button><br><br>
                        </label>
                </form>
               
            {{/blogs}}

           
            



    </body>
</html>